apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: openshift-sriov-network-operator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sriov-network-operator
  namespace: openshift-sriov-network-operator
  labels:
    control-plane: controller-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      name: sriov-network-operator
  template:
    metadata:
      annotations:
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
        openshift.io/required-scc: restricted-v2
      labels:
        name: sriov-network-operator
    spec:
      serviceAccountName: sriov-network-operator
      nodeSelector:
        node-role.kubernetes.io/master: ""
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
        operator: Exists
      containers:
      - name: sriov-network-operator
        image: quay.io/openshift/origin-sriov-network-operator:4.19
        command:
        - sriov-network-operator
        args:
        - --leader-elect
        imagePullPolicy: IfNotPresent
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        env:
          - name: WATCH_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: SRIOV_CNI_IMAGE
            value: quay.io/openshift/origin-sriov-cni:4.19
          - name: SRIOV_DEVICE_PLUGIN_IMAGE
            value: quay.io/openshift/origin-sriov-network-device-plugin:4.19
          - name: NETWORK_RESOURCES_INJECTOR_IMAGE
            value: quay.io/openshift/origin-sriov-dp-admission-controller:4.19
          - name: OPERATOR_NAME
            value: sriov-network-operator
          - name: SRIOV_NETWORK_CONFIG_DAEMON_IMAGE
            value: quay.io/openshift/origin-sriov-network-config-daemon:4.19
          - name: SRIOV_NETWORK_WEBHOOK_IMAGE
            value: quay.io/openshift/origin-sriov-network-webhook:4.19
          - name: SRIOV_INFINIBAND_CNI_IMAGE
            value: quay.io/openshift/origin-sriov-infiniband-cni:4.19
          - name: RDMA_CNI_IMAGE
            value: quay.io/openshift/origin-rdma-cni:4.19
          - name: RESOURCE_PREFIX
            value: openshift.io
          - name: ADMISSION_CONTROLLERS_ENABLED
            value: "true"
          - name: ADMISSION_CONTROLLERS_CERTIFICATES_OPERATOR_SECRET_NAME
            value: operator-webhook-service
          - name: ADMISSION_CONTROLLERS_CERTIFICATES_INJECTOR_SECRET_NAME
            value: network-resources-injector-secret
          - name: METRICS_EXPORTER_IMAGE
            value: quay.io/openshift/origin-sriov-network-metrics-exporter:4.19
          - name: METRICS_EXPORTER_KUBE_RBAC_PROXY_IMAGE
            value: quay.io/openshift/origin-kube-rbac-proxy:4.19
          - name: METRICS_EXPORTER_SECRET_NAME
            value: metrics-exporter-cert
          - name: METRICS_EXPORTER_PROMETHEUS_OPERATOR_ENABLED
            value: "true"
          - name: METRICS_EXPORTER_PROMETHEUS_DEPLOY_RULES
            value: "true"
          - name: METRICS_EXPORTER_PROMETHEUS_OPERATOR_NAMESPACE
            value: openshift-monitoring
          - name: METRICS_EXPORTER_PROMETHEUS_OPERATOR_SERVICE_ACCOUNT
            value: prometheus-k8s
          - name: METRICS_EXPORTER_PORT
            value: "9110"
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: RELEASE_VERSION
            value: 4.19.0
