---
kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: sriov-network-config-daemon
  namespace: {{.Namespace}}
  annotations:
    release.openshift.io/version: "{{.ReleaseVersion}}"
spec:
  selector:
    matchLabels:
      app: sriov-network-config-daemon
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 33%
  template:
    metadata:
      labels:
        app: sriov-network-config-daemon
        component: network
        type: infra
        openshift.io/component: network
      annotations:
        kubectl.kubernetes.io/default-container: sriov-network-config-daemon
    spec:
      hostNetwork: true
      hostPID: true
      nodeSelector:
        kubernetes.io/os: linux
        node-role.kubernetes.io/worker: ""
      tolerations:
      - operator: Exists
      serviceAccountName: sriov-network-config-daemon
      priorityClassName: "system-node-critical"
      {{- if .ImagePullSecrets }}
      imagePullSecrets:
      {{- range .ImagePullSecrets }}
      - name: {{ . }}
      {{- end }}
      {{- end }}
      initContainers:
        - name: sriov-cni
          image: {{.SRIOVCNIImage}}
          command:
            - /bin/sh
            - -c
            - cp /usr/bin/sriov /host/opt/cni/bin/
          securityContext:
            privileged: true
          resources:
            requests:
              cpu: 10m
              memory: 10Mi
          volumeMounts:
            - name: cnibin
              mountPath: /host/opt/cni/bin
        - name: sriov-infiniband-cni
          image: {{.SRIOVInfiniBandCNIImage}}
          command:
            - /bin/sh
            - -c
            - cp /usr/bin/ib-sriov /host/opt/cni/bin/
          securityContext:
            privileged: true
          resources:
            requests:
              cpu: 10m
              memory: 10Mi
          volumeMounts:
            - name: cnibin
              mountPath: /host/opt/cni/bin
      {{- if .UsedSystemdMode}}
        - name: sriov-service-copy
          image: {{.Image}}
          command:
            - /bin/bash
            - -c
            - mkdir -p /host/var/lib/sriov/ && cp /usr/bin/sriov-network-config-daemon /host/var/lib/sriov/sriov-network-config-daemon && chcon -t bin_t /host/var/lib/sriov/sriov-network-config-daemon | true # Allow systemd to run the file, use pipe true to not failed if the system doesn't have selinux or apparmor enabled
          securityContext:
            privileged: true
          resources:
            requests:
              cpu: 10m
              memory: 10Mi
          volumeMounts:
            - name: host
              mountPath: /host
      {{- end }}
      containers:
      - name: sriov-network-config-daemon
        image: {{.Image}}
        command:
          - sriov-network-config-daemon
        securityContext:
          privileged: true
        args:
          - "start"
        {{- if .UsedSystemdMode}}
          - --use-systemd-service
        {{- end }}
        {{- with index . "DisablePlugins" }}
          - --disable-plugins={{.}}
        {{- end }}
        env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: CLUSTER_TYPE
            value: "{{.ClusterType}}"
          - name: DEV_MODE
            value: "{{.DevMode}}"
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
        volumeMounts:
          - name: host
            mountPath: /host
        lifecycle:
          preStop:
            exec:
              command: ["/bindata/scripts/clean-k8s-services.sh"]
      volumes:
      - name: host
        hostPath:
          path: /
      - name: cnibin
        hostPath:
          path: {{.CNIBinPath}}
